table {
  width: 100%;
}

.spinner {
  margin: 25% auto 0;
}

.table-options {
  display: flex;

  mat-form-field {
    margin-left: 16px;
  }

  span {
    flex: 1;
  }
}

.hidden {
  display: none;
}
